<div  style="height:100vh !important ;background: url('assets/back.jpg');  background-size: 100% 100%;">
<div class="login-box" style="margin:auto;padding-top:10%; ">
    <div class="login-logo" style="color:white;">
     <b>VERMEG</b>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
            <div class="alert alert-danger" *ngIf="!isLoggedIn">Email or password not correct !</div>
      <p class="login-box-msg">Sign in to start your session</p>
  
      <form (ngSubmit)="login()">
          
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
  
      
  
      <a href="#">I forgot my password</a><br>
  
    </div>
    <!-- /.login-box-body -->
  </div>

</div>