<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{this.global.getUserName()}} {{this.global.getUserLastName()}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> {{global.getRole()}}</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
        
        <li routerLinkActive="active">
          <a routerLink="/home" style="text-decoration: none;">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
          
        </li>
        <li routerLinkActive="active">
          <a routerLink="/home" style="text-decoration: none;">
            <i class="fa fa-cubes"></i>
            <span>Projects List</span>
          </a>
        </li>
        <li routerLinkActive="active" *ngIf="global.isAdmin()">
          <a routerLink="/users" style="text-decoration: none;">
            <i class="fa  fa-user"></i> <span>Users</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/diagramRole" style="text-decoration: none;">
            <i class="fa   fa-eye"></i> <span>Diagram's Role</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/projectRole" style="text-decoration: none;">
            <i class="fa   fa-eye"></i> <span>Project's Role</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/settings" style="text-decoration: none;">
            <i class="fa  fa-cogs"></i> <span>Settings</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>