<style></style>

<div class="wrapper">

    <Header-app></Header-app>
    <!-- Left side column. contains the logo and sidebar -->
   <nav-app></nav-app>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
     <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
  
    <footer-app></footer-app>
  
   
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->